<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand titulo" href="/">EL BUEN SABOR</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="navbar-collapse collapse" id="navbarColor01">
      <ul class="navbar-nav ml-auto"  *ngIf="usuario; else showLogin">
        <!-- colocar imagen de perfil y nombre -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle texto" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{usuario.email}}</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" (click)="logout()" href="/">Salir</a>
          </div>
        </li>
      </ul>
      <ng-template #showLogin>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link texto" href="/" data-toggle="modal" data-target="#modalIngreso">Ingresar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link texto" href="/" data-toggle="modal" data-target="#modalRegistro">Registrarse</a>
          </li>
        </ul>
      </ng-template>
    </div>

    
  </nav>
  <app-modal-ingreso></app-modal-ingreso>
  <app-modal-registro></app-modal-registro>
