<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand titulo" [routerLink]="'home'">EL BUEN SABOR</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="navbar-collapse collapses" id="navbarColor01">
      <ul class="navbar-nav ml-auto"  *ngIf="usuario && !cargando; else showLogin">
        <li class="nav-item">
          <a class="nav-link texto">
            <!-- <img [src]="usuarioApi.img.url" class="special-img">&nbsp; -->
            {{usuarioApi.nombre}} {{usuarioApi.apellido}}
            
          </a>
        </li>
        <li class="nav-item dropdown" *ngIf="esAdmin">
          <a class="nav-link dropdown-toggle texto" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Administración
          </a>
          <div class="dropdown-menu dropdown-menu-lg-right" >
            <a class="dropdown-item" [routerLink]="'usuarios'">
              Usuarios</a>
            <a class="dropdown-item" href="/">
              Facturas</a>
            <a class="dropdown-item" [routerLink]="'pedidos'">
              Pedidos</a>
            <a class="dropdown-item" [routerLink]="'abm-insumos'">
              ABM Insumos</a>
            <a class="dropdown-item" [routerLink]="'abm-manufacturados'">
              ABM Manufacturados</a>
          </div>
        </li>&nbsp;&nbsp;
        <li class="nav-item dropdown" *ngIf="esAdmin">
          <a class="nav-link dropdown-toggle texto" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Reportes
          </a>
          
          <div class="dropdown-menu dropdown-menu-lg-right">
            <a class="dropdown-item" href="/">
              Comidas más pedidas</a>
            <a class="dropdown-item" href="/">
              Recaudaciones</a>
            <a class="dropdown-item" href="/">
              Pedidos por período</a>
            <a class="dropdown-item" href="/">
              Pedidos por cliente</a>
            <a class="dropdown-item" href="/">
              Control de stock</a>
          </div>
        </li>
        <li class="nav-item" *ngIf="esCocinero">
          <a class="nav-link texto" routerLink="cocina"> Cocina
          </a>
        </li>
        <li class="nav-item" *ngIf="esCocinero">
          <a class="nav-link texto" routerLink="cocina"> ABM Platos
          </a>
        </li>
        <li class="nav-item" *ngIf="esCajero">
          <a class="nav-link texto" routerLink="cocina"> Caja
          </a>
        </li>
        <li class="nav-item" *ngIf="esCajero">
          <a class="nav-link texto" routerLink="cocina"> Facturas
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="salir()"  href="/">
            <svg width="30px" height="30px" viewBox="0 0 16 16" class="bi bi-box-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
              <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
            </svg>&nbsp;&nbsp;SALIR
          </a>
        </li>
      </ul>

      <ng-template #showLogin>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link texto" href="/" data-toggle="modal" data-target="#modalIngreso">Ingresar</a>
          </li>
        </ul>
      </ng-template>
    </div>

    
  </nav>
  <app-modal-ingreso></app-modal-ingreso>

