.img{
    min-width: 300px;
    max-width: 300px;
    min-height: 200px;
    max-height: 200px;
    border-radius: 20px;
    margin: auto;
    margin-top: 10px;
}

.imgBebidas{
    min-width: 300px;
    max-width: 300px;
    border-radius: 20px;
    margin: auto;
    margin-top: 10px;
}