<div (focus)="traerDetalle()" class="modal" tabindex="-1" id="modalDetallePlato" role="dialog">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
        <div class="modal-body" style="border: solid 1px #d9230f;">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <img [src]="platoAux?.img?.url" class="img">
                    </div>
                    <div class="col-6">
                        <h4>{{platoAux?.nombre}}</h4><br>
                        <h5>Categoría: {{platoAux?.categoriaGral?.denominacion}}</h5><br>
                        <h5>$ {{platoAux?.precio}}</h5><br>
                        <h5>Tiempo estimado: {{platoAux?.tiempoPreparacion}}'</h5><br>
                        <h4>Ingredientes: <br>
                            <ul>
                                <li *ngFor="let detalle of platoAux?.detalles" style="color: black;">{{detalle?.insumo?.nombre}}</li>
                            </ul>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="text-right">
               
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>
</div>
