<div class="modal" id="modalCarrito" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Carrito de Compra</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div>
                <h5>Pedido</h5>
                <ul>
                    <li>
                        <button>X</button>
                    </li>
                </ul>
            </div>
            <div>
                <h5>Entrega</h5>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" checked="">
                    <label class="custom-control-label" for="customRadio1">Delivery</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio2">Retiro en tienda</label>
                </div>
                <p>hora de entrega</p>
                <p>dirección <button>Cambiar</button></p>
                <div>
                    <p>Subtotal</p>
                    <p>Recargo/Descuento</p>
                    <p>TOTAL</p>
                </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-lg"  data-dismiss="modal" >Continuar</button>
          <button type="button" class="btn btn-primary btn-lg"  data-dismiss="modal" >Cancelar</button><br><br>
          
        </div>
      </div>
    </div>
  </div>



