<div class="modal" id="modalDetallePedido" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Detalle del Pedido</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div>
                <h5>Pedido</h5>
                <p>item1</p>
                <p>item2</p>
                <p>item3</p>
            </div>
            <hr class="my-4 border-primary" >
            <div>
                <p>Subtotal</p>
                <p>Recargo/Descuento</p>
                <p>TOTAL</p>
            </div>
            <div>
                <h5>Detalle de entrega</h5>
                <p>Direccion</p>
                <p>Tiempo de entrega</p>
                <p>Hora de entrega</p>
            </div>
            <div>
                <h5>Forma de pago</h5>
                <p>efectivo</p>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-lg"  data-dismiss="modal" >Continuar</button>
          <button type="button" class="btn btn-primary btn-lg"  data-dismiss="modal" >Cancelar</button><br><br>
          
        </div>
      </div>
    </div>
  </div>




