<div class=" container-fluid mt-5" style="width: 1400px;">
    <h2>PEDIDOS</h2>
    <hr class="border-primary">
    <div class="table-responsive-md">
      <table class="table mt-3">
        <thead class="thead table-primary">
          <tr>
            <th scope="col" style="width: 200px; text-align: center;">N° Pedido</th>
            <th scope="col" style="width: 200px; text-align: center;">Cliente</th>
            <th scope="col" style="width: 200px; text-align: center;">Fecha</th>
            <th scope="col" style="width: 200px; text-align: center;">Hora Estimada Fin</th>
            <th scope="col" style="width: 200px; text-align: center;">Detalle</th>
            <th scope="col" style="width: 200px; text-align: center;">Estado</th>
            <th scope="col" style="width: 200px; text-align: center;">Factura Provisoria</th>
            <th scope="col" style="width: 200px; text-align: center;">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pedido of pedidosCajero" class="table-active">
            
            <td scope="row" style="text-align: center;">{{pedido?.id}}</td>
            <td style="text-align: center;">{{pedido?.cliente?.nombre}} {{pedido?.cliente?.apellido}}</td>
            <td style="text-align: center;">{{pedido?.fecha}}</td>
            <td style="text-align: center;">{{pedido?.horaEstimadaFin}}</td>
            <td style="text-align: center;">
                <button class="btn btn-info" data-toggle="modal" data-target="#modalDetallePedido" (click)="pedidoId=pedido?.id">Ver Detalle</button>
            </td>
            <td style="text-align: center;">
              <button class="btn btn-info" data-toggle="modal" data-target="#modalFactura" (click)="abrirFactura(pedido?.id, pedido?.tipoEnvio)" [disabled]="pedido?.estado!=='Terminado' && pedido?.estado!=='Delivery'">Ver Factura</button>
            </td>
            <td style="text-align: center;">{{pedido?.estado}}</td>
            <td style="text-align: center;">
                <button class="btn btn-danger" *ngIf="pedido.estado==='Pendiente'" (click)="enviarCocina(pedido)">Cocina</button>
                <button class="btn btn-info" *ngIf="pedido.estado==='Terminado' && pedido.tipoEnvio==='Delivery'" (click)="enviarDelivery(pedido)">Delivery</button>
                <button class="btn btn-success" *ngIf="pedido.estado==='Terminado' || pedido.estado==='Delivery'" (click)="enviarFactura(pedido)">Facturado</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <app-modal-factura [pedidoId]="pedidoId" [tipoEnvio]="tipoEnvio"></app-modal-factura>
  <app-modal-detalle-pedido [idPedido]="pedidoId" [rol]="'caja'"></app-modal-detalle-pedido>


