<div class="container-fluid mt-5" style="width: 1200px;">
    <h2>PEDIDOS POR MES/DÍA</h2>
    <hr class="border-primary">
    <div class="row">
        <div class="col">
            <select class="form-control" name="meses" [(ngModel)]="mesSeleccionado" (change)="filtrarMes($event)">
                <option *ngFor="let mes of meses" value={{mes.id}} label={{mes.nombre}}></option>
            </select>
        </div>
        <div class="col">
            <input type="date" class="form-control" [(ngModel)]="fechaFiltro" name="fecha">
            <button class="btn btn-info" (click)="filtrarDia(fechaFiltro)">Buscar</button>
        </div>
    </div>
    <div class="row">
        <div class="col mt-5" style="text-align: center;">
          <h5 class="card-title">Reacudaciones por periodo de tiempo</h5>
          <h6>Total recaudado: $ {{totalRecaudado}}</h6>
          <div style="background: white">
            <p-chart *ngIf="cargo" type="bar" [data]="datosEstadisticos"></p-chart>
          </div>
        </div>
    </div>
    <div class="table-responsive-md">
        <table class="table mt-3">
          <thead class="thead table-primary">
            <tr>
              <th scope="col" style="width: 200px; text-align: center;">Nro Pedido</th>
              <th scope="col" style="width: 200px; text-align: center;">Fecha</th>
              <th scope="col" style="width: 200px; text-align: center;">Tipo Envío</th>
              <th scope="col" style="width: 200px; text-align: center;">Factura</th>
              <th scope="col" style="width: 200px; text-align: center;">Total</th>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pedido of pedidosFiltrados" class="table-active">
              <td scope="row" style="text-align: center;">{{pedido?.id}}</td>
              <td style="text-align: center;">{{pedido?.fecha}}</td>
              <td style="text-align: center;">{{pedido?.tipoEnvio}}</td>
              <td style="text-align: center;">
                <button class="btn btn-success" data-toggle="modal" data-target="#modalFactura" (click)="pedidoId=pedido?.id">Ver Factura</button>
              </td>
              <td style="text-align: center;">${{pedido?.total}}</td>
            </tr>
            <tr class="table-active">
                <td  style="text-align: right; font-size: 20px;" colspan="5">Total: ${{totalRecaudado}}</td>
            </tr>
          </tbody>
        </table>
      </div>
</div>
<app-modal-factura [pedidoId]="pedidoId"></app-modal-factura>


