.tamanioImg{
    width: 100%;
    height: 800px;
}

.header-text {
    position: absolute;
    top: 40%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
}

.seccionPlatos{
    border: solid 2px #d9230f;
    border-radius: 40px;
    margin-top: 15px;
}

.img{
    min-width: 300px;
    max-width: 300px;
    min-height: 200px;
    max-height: 200px;
    border-radius: 20px;
    margin: auto;
    margin-top: 10px;
}

.imgBebidas{
    min-width: 300px;
    max-width: 300px;
    border-radius: 20px;
    margin: auto;
    margin-top: 10px;
}