<div class=" container mt-5">
    <h2>LISTA DE PEDIDOS</h2>
    <hr class="border-primary">
    <div style="width: 35%; position: relative;"><input type="text" class="form-control" (input)="buscarPedidos($event)" placeholder="Buscar..."></div>
    <div class="table-responsive">
      <table class="table mt-3">
        <thead class="thead table-primary">
          <tr>
            <th scope="col" style="width: 200px; text-align: center;">Nro Pedido</th>
            <th scope="col" style="width: 200px; text-align: center;">Nombre Cliente</th>
            <th scope="col" style="width: 200px; text-align: center;">Fecha</th>
            <th scope="col" style="width: 200px; text-align: center;">Hora Estimada Fin</th>
            <th scope="col" style="width: 200px; text-align: center;">Detalle</th>
            <th scope="col" style="width: 200px; text-align: center;">Estado</th>
            <th scope="col" style="width: 200px; text-align: center;">Factura</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pedido of pedidos" class="table-active">
            
            <td scope="row" style="text-align: center;">{{pedido?.id}}</td>
            <td style="text-align: center;">{{pedido?.cliente?.nombre}} {{pedido?.cliente?.apellido}}</td>
            <td style="text-align: center;">{{pedido?.fecha}}</td>
            <td style="text-align: center;">{{pedido?.horaEstimadaFin}}</td>
            <td style="text-align: center;">
                <button class="btn btn-info" data-toggle="modal" data-target="#modalDetallePedido" (click)="pedidoId=pedido?.id">Ver Detalle</button>
            </td>
            <td style="text-align: center;">{{pedido?.estado}}</td>
            <td style="text-align: center;">
              <button class="btn btn-success" data-toggle="modal" data-target="#modalFactura" (click)="pedidoId=pedido?.id" [disabled]="pedido?.estado!=='Facturado'">Ver Factura</button>
                
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <app-modal-detalle-pedido [idPedido]="pedidoId" [rol]="'admin'"></app-modal-detalle-pedido>
  <app-modal-factura [pedidoId]="pedidoId"></app-modal-factura>

