<div class="container mt-5" >
    <h2>PEDIDOS POR CLIENTE</h2>
    <hr class="border-primary">
    <div class="row">
        <div class="col-5">
            <select class="form-control" name="usuarios" [(ngModel)]="userSeleccionado">
                <option *ngFor="let usuario of usuarios" value={{usuario.id}}  >{{usuario.nombre}} {{usuario.apellido}}</option>
            </select>
        </div>
        <div class="col">
            <input type="date" class="form-control" [(ngModel)]="fechaFiltroInicio" name="fecha">
        </div>
        <div class="col">
          <input type="date" class="form-control" [(ngModel)]="fechaFiltroFin" name="fechaF">
      </div>
        <div class="col-2" style="text-align: right;">
          <button class="btn btn-info" (click)="filtrar(userSeleccionado, fechaFiltroInicio, fechaFiltroFin)"><i class="fa fa-search"></i>Buscar</button>
        </div>
    </div>
    <div class="row">
        <div class="col mt-5" style="text-align: center;">
          <h5 class="card-title">Pedidos por usuario y periodo</h5>
          <h6>Total de pedidos del usuario:  {{totalPedidos}}</h6>
          <div style="background: white">
            <p-chart *ngIf="cargo" type="doughnut" [data]="datosEstadisticos"></p-chart>
          </div>
        </div>
    </div>
    <div class="table-responsive-md">
        <table class="table mt-3">
          <thead class="thead table-primary">
            <tr>
              <th scope="col" style="width: 200px; text-align: center;">Nro Pedido</th>
              <th scope="col" style="width: 200px; text-align: center;">Fecha</th>
              <th scope="col" style="width: 200px; text-align: center;">Total</th>
              <th scope="col" style="width: 200px; text-align: center;">Tipo Envío</th>
              <th scope="col" style="width: 200px; text-align: center;">Factura</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pedido of pedidosFiltrados" class="table-active">
              
              <td scope="row" style="text-align: center;">{{pedido?.id}}</td>
              <td style="text-align: center;">{{pedido?.fecha}}</td>
              <td style="text-align: center;">{{pedido?.total}}</td>
              <td style="text-align: center;">{{pedido?.tipoEnvio}}</td>
              <td style="text-align: center;">
                <button class="btn btn-success" data-toggle="modal" data-target="#modalFactura" (click)="pedidoId=pedido?.id">Ver Factura</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
</div>
<app-modal-factura [pedidoId]="pedidoId"></app-modal-factura>
