<div class="container mt-5" >
    <div class="row">
        <div class="col-4">
            <app-barra-izq></app-barra-izq><br><br>
        </div>
        <div class="col-8">
            <h3>Mis Direcciones</h3>
            <hr class="my-4 border-primary" >
            
            <div class="row" style=" margin-left: 10px;">
                <div *ngFor="let domicilio of usuarioApi?.domicilios" class="card border-primary mb-3" style="width: 15rem; margin-top: 15px; border-radius: 20px; margin-right: 15px;">
                    <div class="card-header">DOMICILIO {{domicilio?.id}}</div>
                    <div class="card-body">
                      <h4 class="card-title" style="text-align: center;">{{domicilio?.calle}} {{domicilio.nro}}</h4>
                        <h5 class="card-text" style="text-align: center;">{{domicilio?.localidad?.nombre}}</h5><br>
                        <h5 class="card-text" style="text-align: center;">{{domicilio?.localidad?.provincia?.nombre}}</h5><br>
                        <h5 class="card-text" style="text-align: center;">{{domicilio?.localidad?.provincia?.pais?.nombre}}</h5><br>
                        <div class="text-right" >
                          <a href="/domicilio" class="btn btn-info" data-toggle="modal" data-target="#modalDomicilio" (click)="id=domicilio?.id">Editar</a>&nbsp;
                          <a href="/domicilio" class="btn btn-primary" (click)="eliminar(domicilio?.id)">
                            <svg width="19px" height="19px" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                          </a>
                        </div>
                    </div>
                  </div>
            </div><br>
            <div style="text-align: left; margin-left: 20px; margin-top: 10px;">
                <a href="/domicilio" class="btn btn-primary" data-toggle="modal" data-target="#modalDomicilio" (click)="id=0">Agregar Domicilio</a>
            </div>
        </div>
    </div>
</div>
<app-modal-domicilio [idDom]="id" [usuario]="usuarioApi" (guardarDom)="guardar($event)"></app-modal-domicilio>
